<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" routerLink="/#">HellRaider</a>
        </div>
        <ul class="navbar-nav" *ngIf="this.harcodedAuthServiceService.isAuthenticated()">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/welcome/developer">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/todos">TODOS</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="#">Action</a>
              <a class="dropdown-item" routerLink="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="#">Something else here</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login" ><button button *ngIf="!this.harcodedAuthServiceService.isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button></a>&nbsp;</li>
          <li><a routerLink="/logout" ><button *ngIf="this.harcodedAuthServiceService.isAuthenticated()" class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button></a>&nbsp;</li>
        </ul>
      </div>
    </nav>
  </header>
  <br>
