<div class="container">
    <h1>My Todo's</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Target Date</th>
                <th scope="col">is it Done?</th>
                <th scope="col">Action</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor='let todo of todos'>
                <td>{{todo.desc}}</td>
                <td>{{todo.pendingTill | date | uppercase}}</td>
                <td>{{todo.comp}}</td>
                <td>
                    <button id={{todo.id}} (click)="updateId(todo.id)" class="btn btn-primary todo_update_button">Update</button>&nbsp;
                    <button id={{todo.id}} (click)="deleteId($event)"
                        class="btn btn-danger todo_delete_btn">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>